<!--Start navbar-->
<div class="background-pic">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid dash-nav">
      <a class="navbar-brand" href="#">
        <h2>Productivity Planner</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/goals">Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/community">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!--End navbar-->
  <br><br><br>
  <h2 class="m-4 text-center header-color">Community</h2>
  <!--Begin main container-->
  <div class="row mx-2 p-3">
    <!--Begin feed column-->
    <div class="col-lg-4">
      <div class="container community-container mx-auto mt-4 header-color list-border">
        <h3 class="mt-3">Feed</h3>
        <hr>

        {{#each allPosts}}
        <div class="shadow p-3 m-3 rounded bg-white list-border">
          <h4>{{ title }}</h4>
          <h6>From: {{ author }}</h6>
          <p class="header-color">{{ text }}</p>
        </div>
        {{else}}
        <h4>No posts yet!</h4>
        {{/each}}

      </div>
    </div>
    <!--End feed column-->
    <!--Begin blog posts column-->
    <div class="col-lg-4">
      <div class="container community-container mx-auto mt-4 header-color list-border">
        <h3 class="mt-3">Blog Posts</h3>
        <hr>
        <form class="blog-posts shadow p-3 m-3 rounded clearfix">
          <div class="form-group">
            <br>
            <h4>Write a blog post!</h4>
            <label class="mt-3" for="exampleInputTitle">Title</label>
            <input type="title" class="form-control" id="postTitle" placeholder="Title">
            <label class="mt-3" for="exampleInputTitle">Author</label>
            <input type="text" class="form-control" id="postAuthor" placeholder="Your Name">
            <label class="mt-3" for="exampleInputBody">Blog content</label>
            <textarea type="body" class="form-control" id="postText" placeholder="Start your blog post here"
              rows="3"></textarea>
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="mt-2 btn btn-dark active float-right" id="addPost">Post</button>
        </form>
        <br />
      </div>
    </div>
      <!-- End Blog Post container-->
      <!-- Begin User's posts container -->
      <div class="col-lg-4">
        <div class="container community-container mx-auto mt-4 header-color list-border">
          <h3 class="mt-3">Your Posts</h3>
          <hr>
          {{#each userPosts}}
        <div class="shadow p-3 m-3 rounded bg-white list-border clearfix">
          <h4>{{ title }}</h4>
          <p class="header-color">{{ text }}</p>
        <button type="submit" class="float-right mt-2 btn btn-dark active delete-btn" data-id="{{this.id}}" id="deletePost">Delete</button>
        </div>
        {{else}}
        <h4>No posts yet!</h4>
        {{/each}}
        </div>
      </div>
    </div>
    <!--End container-->
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/community.js"></script>