<div class="background-pic">
    <!--Begin navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid dash-nav">
            <a class="navbar-brand" href="#">
                <h2 id="planner-logo">Productivity <span>Planner</span></h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/goals">Goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/community">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--End navbar-->
    <br>
    <h1 class="m-4 text-center">Goals</h1>
    <h2 class="text-center m-2">Write some goals for the week!</h2>
    <!--Begin goals container-->
    <div class="container">
        <div class="row">
            <!--Begin the add goal input box-->
            <div class="col-md-12 shadow p-3 m-3 rounded list-border clearfix">
                <h3 class="mb-3">Add a Goal:</h3>
                <input type="title" class="form-control" placeholder="Add goal here" id="goalTitle" placeholder="Title">
                <button type="button" class="btn btn-dark mt-3 active float-right" id="addGoal">Submit</button>
            </div>
        </div>
    </div>
    <!--Begin first column: my goals-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="container shadow p-3 mt-3 rounded list-border">
                    <h3 class="m-3">My Goals</h3>
                    <hr>
                    {{#if addedGoals}}
                    {{#each addedGoals}}
                    <div class="shadow p-3 m-3 rounded bg-white list-border clearfix">
                        <h4>{{title}}</h4>
                        <p> 
                            <button type="button" class="btn btn-dark delete-btn active float-right" 
                                data-id="{{this.id}}">Delete</button>
                            <button type="button" class="btn btn-dark prog-btn active float-right" data-id="{{this.id}}"
                                id="startBtn">Start</button>
                        </p>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="shadow p-3 m-3 rounded bg-white list-border">
                        <h4>Add a Goal to start Tracking!</h4>
                    </div>
                    {{/if}}
                </div>
            </div>
            <!--End second column: goals in progress-->
            <div class="col-lg-4">
                <div class="container shadow p-3 mt-3 rounded list-border">
                    <h3 class="m-3">In Progress</h3>
                    <hr>
                    {{#if inProgressGoals}}
                    {{#each inProgressGoals}}
                    <div class="shadow p-3 m-3 rounded bg-white list-border clearfix">
                        <h4>{{title}}</h4>
                        <p>
                            <button type="button" class="btn btn-dark delete-btn active float-right"
                                data-id="{{this.id}}">Delete</button>
                            <button type="button" class="btn btn-dark edit-btn active float-right" data-id="{{this.id}}"
                                id="completeBtn">Completed</button>
                        </p>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="shadow p-3 m-3 rounded bg-white list-border">
                        <h4>Start a Goal to track progress!</h4>
                    </div>
                    {{/if}}
                </div>
            </div>
            <!--Begin third column: achievements-->
            <div class="col-lg-4">
                <div class="container shadow p-3 mt-3 rounded list-border">
                    <h3 class="m-3">Achievements</h3>
                    <hr>
                    {{#if completedGoals}}
                    {{#each completedGoals}}
                    <div class="shadow p-3 m-3 rounded bg-white list-border clearfix">
                        <h4>{{title}}</h4>
                        <p>
                            <button type="button" class="btn btn-dark delete-btn active float-right"
                                data-id="{{this.id}}">Delete</button>
                            <button type="button" class="btn btn-dark prog-btn active float-right" data-id="{{this.id}}"
                                id="inProgressBtn">In Progress</button>
                        </p>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="shadow p-3 m-3 rounded bg-white list-border">
                        <h4>Complete a Goal to add Achievements!</h4>
                    </div>
                    {{/if}}
                </div>
            </div>
            <!--End of third column: achievements-->
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/goals.js"></script>