    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1>Productivity Planner</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/planner">Day Planner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/goals">Goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/community">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav><br><br><br>
    <h2 class="m-4 text-center">Day Planner</h2>
    <div class="container">
        <!-- Column 1 -->
        <div class="row">
            <div class="col">
                <div class="shadow p-3 m-3 rounded">
                    <h3>Schedule</h3>
                    <div>
                        {{#each morningTime}}
                        <div class="schedule-container">
                            <p>{{time}}{{period}}</p>
                            <button type="button" class="btn modal-btn view-modal" data-toggle="modal"
                                data-target="#exampleModalCenter" data-id="{{time}}">
                                View plans!
                            </button>
                        </div>
                        {{/each}}
                        {{#each afternoonTime}}
                        <div class="schedule-container">
                            <p>{{time}}{{period}}</p>
                            <button type="button" class="btn modal-btn view-modal" data-toggle="modal"
                                data-target="#exampleModalCenter" data-id="{{time}}">
                                View plans!
                            </button>
                        </div>
                        {{/each}}
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle"> 7 AM Plans</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Write your plans!: </p>
                                        <textarea class="note-textarea" id="new-schedule-item" placeholder="Write your plans!:" data-schedule="7"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn modal-close-btn"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn modal-btn" id="new-schedule-save-btn">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column 2 -->
            <div class="col-sm ">
                <div class="shadow p-3 m-3 bg-white rounded">
                    <div class="row date-row">
                        <h3>Today's Date: </h3>
                        <h3 id="todays-date"></h3>

                    </div>
                </div>
                <div class="shadow p-3 m-3 bg-white rounded">
                <div class="container">
                    <div class="row goals-row">
                        <h3>Goals: </h3><br>
                        {{#each newGoals}}
                         <div class="container">
                            <input class="form-check-input goals-checkboxes" type="checkbox" value="" {{checked}} >
                            <input type="text" class="form-control goals-input-textarea" placeholder="Write a new goal!">
                        </div>
                        {{/each}}
                        {{!-- <div class="container">
                            <input class="form-check-input goals-checkboxes" type="checkbox" value="" >
                            <input type="text" class="form-control goals-input-textarea" placeholder="Write a new goal!">
                        </div>
                        <div class="container">
                            <input class="form-check-input goals-checkboxes" type="checkbox" value="" >
                            <input type="text" class="form-control goals-input-textarea" placeholder="Write a new goal!">
                        </div>
                        <div class="container">
                            <input class="form-check-input goals-checkboxes" type="checkbox" value="" >
                            <input type="text" class="form-control goals-input-textarea" placeholder="Write a new goal!">
                        </div>
                        <div class="container">
                            <button class="btn" id="goals-save-btn">Save</button>
                        </div> --}}
                    </div>
                </div>
                </div>
                {{!-- Water Block --}}
                <div class="shadow p-3 m-3 bg-white rounded">
                    <div class="row water-row">
                        <h3>Water: </h3>
                    </div>
                </div>
            </div>
            <!-- Column 3 -->
            <div class="col-sm ">
                <div class="shadow p-3 m-3 bg-white rounded notes-block">
                    <div class="row notes-row">
                        <h3>Notes: </h3>
                        <br>
                        <textarea class="note-textarea" id="new-note" placeholder="Note Text"></textarea>
                        <button class="btn" id="note-save-btn">Save</button>
                    </div>
                </div>
                <div class="shadow p-3 m-3 bg-white rounded">
                    <div class="row timer-row">
                        <h3>Productivity Timer: </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!--End container-->
    <script type="text/javascript" src="/js/planner.js"></script>



